
.modal-content {
    border: none;
    box-shadow: none;
  }

h1 {
  color: chartreuse;
}

.card-body button{
  padding: 1px;
  border-radius: 2px;
  margin-right: 2px;
  margin-top: 1rem;
  font-weight: bold;
}
.card-text{
  margin-left: 3px;
  
}

#divnero {
align-self: auto;
min-height: 100%;
}


#divnero h3, p{
  margin-top: 20px;
  margin-left: 20px;
}

#divnero button{
  width: 8rem;
  min-height: 10%;
  margin-left: 20px;
}

#divbco {
  min-height: 100%;
}

.custom-footer {
  height: 350px;
  font-size: large;
  align-self: auto;
  background: linear-gradient(to right, hsl(197, 98%, 21%), #0b658f);
}


.custom-footer ul{
  margin-top: 30px;
  align-items: center;
}

#notapie{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

#botonera button{
  width: 100%;

}

/*CSS para ocultar flechas de campos numericos*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
}

input[type="number"] {
 -webkit-appearance: textfield;
}
